* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

$var: blue;
$texSize: 115px;
h1 {
  font-size: $texSize;
  text-align: center;
  color: $var;
  margin-top: 16px;
}

main {
  height: 100vh;
  display: flex;
  .left-panel {
    flex: 0.7;
    height: 100%;
    background-color: lightblue;
  }
  .right-panel {
    flex: 1;
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
    .text-panel {
    }
    form {
      flex: 1;
      fieldset {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
      }
    }
  }
}
